@import './../mfv'    
section
    div.about-box
        width: 90%
        padding: 1rem 0
        p.content
            text-align: left
    div.aboutPage-img-box
        height: 40vh
        img
            width: 90%
            height: 80%
            border-radius: .5rem
        