@import 'components/_components'
@import 'pages/_pages'
//DONT REPEAT YOURSELF







@import ./mfv
    
//Base Styles
*
    margin: 0
    padding: 0
    font-size: 62.5%
    font-family: 'Muli', sans-serif

h1,h2,h3,h4,h5,h6,p,svg,i,span,button
    color: $text-gray

img
    height: 100%
    width: 100%

button.MuiButton-containedPrimary
    background-color: $flower !important
    span.MuiButton-label
        color: $white

